<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="C:\Users\xie00\AppData\Local\Temp\libhello.dll14148272234693463569" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>