<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="C:\Users\xie00\AppData\Local\Temp\libhello.dll14899629470718892130" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>